# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/app/docroot/core
/app/docroot/libraries
/app/docroot/modules/contrib
/app/docroot/profiles/contrib
/app/docroot/themes/contrib
/app/docroot/sites/default/files

# Ignore Composer-managed dependencies.
/app/vendor/
